@model FeedIt.Models.PostViewModel
@{
    ViewBag.Title = "Index";
}

<h2>Post</h2>

<div>
    <a class="col-md-offset-1 col-md-1" href=@Url.Action("profile", "Profile", new { userID = Model.user.Id})>@Model.user.UserName</a>
    @Model.post.date
</div>
<div>
        <img class="col-md-10" src="@Url.Content(Model.post.picture)" alt="picture" style="width:300px; height:300px;" />
</div>
<div>
    <p>@Model.post.about</p>
</div>

@using (Html.BeginForm("Comment", "Post", FormMethod.Post, new { id = "postform" }))
{
    <input type="hidden" name="postID" id="postID" value=@Model.post.ID />
    <input type="text" placeholder="Comment" name="content" id="content" />
    <input type="submit" class="createpost" value="Post" />
}

@foreach(var comment in Model.comments)
{
    
}

