@using Microsoft.AspNet.Identity
@model FeedIt.Models.ManageUserViewModel

@{
    ViewBag.Title = "CreateGroup";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="editProfile">
    <div>Create<span>Group</span></div>
</div>
<br><br><br>
<div class="line-separatorCreateGroup"></div>
@using (Html.BeginForm("Create", "Group", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    
    <div class="grad"></div>
    <div class="header">
        <div>feed<span>It</span></div>
    </div>
    <br>
    <div class="login">
        <div class="form-group">
            <div>
                <p class="fontLogin col-md-12">Name</p>
            </div>
            <div class="col-md-12">
                <input type="text" id="groupName" name="groupName" pattern=".{5,18}" required title="5 to 18 characters"/>
            </div>
        </div>
        <div class="form-group">
            <div>
                <p class="fontLogin col-md-12">About group</p>
            </div>
            <div class="col-md-12">
                <textarea cols="45" rows="6" placeholder="Write description..." id="aboutGroup" name="aboutGroup"></textarea>
            </div>
        </div>
        <div class="form-group">
            <div>
                <label class="fontLogin col-md-12">Group picture</label>
                <div class="col-md-12">
                    <input type="text" id="groupPicture" name="groupPicture" />
                </div>
                <div class="col-md-12">
                    <input type="button" value="Cancel" class="btn btn-default" />
                    <input type="submit" value="Create" class="btn btn-default" />
                </div>
            </div>
        </div>
    </div>
}