@model FeedIt.Models.Group
@using Microsoft.AspNet.Identity
@using FeedIt.Models;
@{
    ViewBag.Title = "Edit my group";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@Model.name</h2>

@using (Html.BeginForm("EditGroup", "Group", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    <div class="line-separator"></div>
    <div class="grad"></div>
    <div class="header">
        <div>feed<span>It</span></div>
    </div>
    <br>
    <div class="login">
        <div class="form-group">
            <div>
                <p class="fontLogin col-md-12">Group name</p>
            </div>
            <div class="col-md-12">
                <input type="text" id="groupName" name="groupName" />
            </div>
        </div>
    <div class="form-group">
        <div>
            <p class="fontLogin col-md-12">Group description</p>
        </div>
        <div class="col-md-12">
            <textarea id="decription" cols="45" rows="6" placeholder="Description"></textarea>
        </div>
    </div>
    <div class="form-group">
        <div>
            <p class="fontLogin col-md-12">Group Picture</p>
        </div>
        <div class="col-md-12">
            <input type="text" id="groupPicture" name="groupPicture" />
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-12">
            <input type="button" value="Delete Group" onclick="location.href = 'Login';" class="btn btn-default" />
            <input type="hidden" value=@Model.ID name="groupID" id="groupID" />
            <input type="submit" value="Save Changes" class="btn btn-default" />
        </div>
    </div>
        </div>
}