@model FeedIt.Models.Group
@using Microsoft.AspNet.Identity
@using FeedIt.Models;
@{
    ViewBag.Title = "Edit my group";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2 class="newsfeed">@Model.name</h2>

@using (Html.BeginForm("EditGroup", "Group", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    <div class="line-separatorEditGroups"></div>
    <div class="grad"></div>
    <div class="header">
        <div>feed<span>It</span></div>
    </div>
    <br>
    <div class="login" id="editgroupform">
        <div class="form-group">
            <div>
                <p class="fontLogin col-md-12">Group name</p>
            </div>
            <div class="col-md-12">
                <input type="text" id="groupName" name="groupName" placeholder="Enter group name..." />
            </div>
        </div>
        <div class="form-group">
            <div>
                <p class="fontLogin col-md-12">Group description</p>
            </div>
            <div class="col-md-12">
                <textarea maxlength="140"  id="aboutGroup" name="aboutGroup" cols="45" rows="6" placeholder="Write description..."></textarea>
            </div>
        </div>
        <div class="form-group">
            <div>
                <p class="fontLogin col-md-12">Group Picture</p>
            </div>
            <div class="col-md-12">
                <input type="text" id="groupPicture" name="groupPicture" placeholder="Enter URL to group profile picture..." />
            </div>
        </div>


        <div class="form-group">
            <div class="col-md-12">

                <input type="button" value="Cancel" class="btn btn-default" onclick="@("window.location.href='" + @Url.Action("Index", "Home") + "'");" />
                <input type="submit" value="Save Changes" class="btn btn-default" />
            </div>
        </div>
        <input type="button" value="Delete Group" id="deletegroup" class="btn btn-default" />
        <input type="hidden" value=@Model.ID name="groupID" id="groupID" />
    </div>
    <div id="groupremovedresponse" class="hidden deleteresponse login">Group has been deleted</div>
}