@model FeedIt.Models.GroupViewModel
@{
    ViewBag.Title = "Group Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Hérna</h2>


<body>
    
    <div>
        @Model.group.name
    </div>

</body>

