@model FeedIt.Models.ProfileViewModel
@{
    ViewBag.Title = "Index";
}

<h2>Profile page</h2>

<h2>@Model.user.fullName</h2>

<div>
    <p>@Model.user.aboutMe</p>
</div>

<div>
    @Html.Partial("UserFeed", Model.feed)
</div>