@model FeedIt.Models.ProfileViewModel
@{
    ViewBag.Title = "Index";
}


<body style="background-color:#EEE">
    <h2 style="background-color:#EEE">@Model.user.fullName</h2>
    <div class="navleftmyprofile">
        <fieldset>
        <div>
            <img src="@Url.Content(Model.user.profilePicture)" alt="picture" class="groupprofilepicture" />
        </div>
        <div class="groupabout">
            <p>@Model.user.aboutMe</p>
        </div>
        </fieldset>
    </div>
    <div>
        @Html.Partial("UserFeed", Model.feed)
    </div>
</body>