@model FeedIt.Models.ProfileViewModel
@{
    ViewBag.Title = "MyProfileView";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h2>@Model.group.name</h2>
<body>
    <div class="navleft">
        <div>
            <img src="@Url.Content(Model.user.profilePicture)" alt="picture" class="groupprofilepicture" />
        </div>
        <div class="groupabout">
            <p>@Model.user.aboutMe</p>
            </div>
        </div>
    <div>
        @Html.Partial("ProfileFeed", Model.feed)
    </div>
</body>
