@model FeedIt.Models.ProfileViewModel
@{
    ViewBag.Title = "NotFollowingProfile";
}
<body>
    <div class="wrapper">
        <h2>@Model.user.fullName</h2>
        <div>
            <div>
                <img src="@Url.Content(Model.user.profilePicture)" alt="picture" class="groupprofilepicture" />
            </div>
            <span class="followtakki">
                @using (Html.BeginForm("Follow", "Profile", FormMethod.Post, new { id = "postform" }))
                {
                    <input type="hidden" value=@Model.user.Id name="userID" id="userID" />
                    <input type="submit" value="Follow" />
                }
            </span>
            <span class="unfollowtakki hide">
                @using (Html.BeginForm("Unfollow", "Profile", FormMethod.Post, new { id = "postform" }))
                {
                    <input type="hidden" value=@Model.user.Id name="userID" id="userID" />
                    <input type="submit" value="Unfollow" />
                }
            </span>
            <div class="groupabout">
                <p>@Model.user.aboutMe</p>
            </div>
        </div>
    </div>
    <div>
        @Html.Partial("ProfileFeed", Model.feed)
    </div>
</body>


