@model FeedIt.Models.ProfileViewModel

<body>
    <div class="wrapper"></div>
        <h2>@Model.user.fullName</h2>
        <div class="navleft">
            <div>
                <img src="@Url.Content(Model.user.profilePicture)" alt="picture" class="groupprofilepicture" />
            </div>
            <div class="groupabout">
                <p>@Model.user.aboutMe</p>
            </div>
            <div class="followtakki">
                @using (Html.BeginForm("Follow", "Profile", FormMethod.Post, new { id = "postform" }))
                {
                    <input type="hidden" value=@Model.user.Id name="userID" id="userID" />
                    <input type="submit" value="Follow" />
                }
            </div>
            <div class="unfollowtakki">
                @using (Html.BeginForm("Unfollow", "Profile", FormMethod.Post, new { id = "postform" }))
                {
                    <input type="hidden" value=@Model.user.Id name="userID" id="userID" />
                    <input type="submit" value="Unfollow" />
                }
            </div>
        </div>
    <div>
        @Html.Partial("ProfileFeed", Model.feed)
    </div>
</body>
