@model FeedIt.Models.ProfileViewModel


<h2>@Model.user.fullName</h2>

<div>
    <p>@Model.user.profilePicture</p>
</div>
<div>
   <p>@Model.user.aboutMe</p>
</div>
<div>
    @using (Html.BeginForm("Follow", "Profile", FormMethod.Post, new { id = "postform" }))
    {
        <input type="hidden" value=@Model.user.Id name="userID" id="userID"/>
        <input type="submit" value="Follow" />
    }
</div>
<div>
    @using (Html.BeginForm("Unfollow", "Profile", FormMethod.Post, new { id = "postform" }))
    {
        <input type="hidden" value=@Model.user.Id name="userID" id="userID"/>
        <input type="submit" value="Unfollow" />
    }
</div>

<div>
    @Html.Partial("UserFeed", Model.feed)
</div>

