@using Microsoft.AspNet.Identity
@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {
    @Html.AntiForgeryToken()
    <div style="display:none" class="username">@User.Identity.GetUserName()</div>
    <ul class="nav navbar-nav navbar-right">

        <li class="dropdown">
            <a href="#" class="dropdown-toggle dropdown-header" data-toggle="dropdown" role="button" aria-expanded="false" style="font-size:large"> </a>
            <ul class="dropdown-menu" role="menu">
                <li><a href="#">Action</a></li>
                <li><a href="#">Another action</a></li>
                <li><a href="#">Something else here</a></li>
                <li class="divider"></li>
                <li><a href="#">Separated link</a></li>
                <li class="divider"></li>
                <li><a href="#">One more separated link</a></li>
            </ul>
        </li>
        <li><a href="javascript:document.getElementById('logoutForm').submit()">Log Out</a>
    </ul>
    
   <!-- <a class="dropdown-toggle" data-toggle="dropdown" href="#">
        
        <span class="caret"></span>
    </a>
    <ul class="dropdown-menu" role="menu">
        <li><a href="javascript:document.getElementById('logoutForm').submit()">Log Out</a></li>
        <li><a href="javascript:document.getElementById('Register').submit()">Edit My Account</a></li>
    </ul>-->
    
    }
}

<script type="text/javascript">
    var user = $(".username").html();
    $(".dropdown-header").html(user + " <span class='caret'></span>");
</script>