@model IEnumerable<FeedIt.Models.ApplicationUser>
@{
    ViewBag.Title = "FollowerFollowing";
}
@foreach (var item in Model)
{
<div class="searchmargin">
    <a href="@Url.Action("Profile", "Profile", new { userID = item.Id})">
        <img src="@Url.Content(item.profilePicture)" alt="picture" class="followpicture" />
    </a>
    <a href=@Url.Action("Profile", "Profile", new { userID = item.Id }) class="followname">@item.UserName</a>
</div>
}
