@model FeedIt.Models.SearchViewModel
@{
    ViewBag.Title = "Search";
}

<body>
    <h2 style="text-align:center">Search result</h2>
    <div class="wrapper">
        <div class="navleft">
        </div>
        <div class="navcentermygroups">
            <div>
                @foreach (var item in Model.users)
                {
                    <a href=@Url.Action("Profile", "Profile", new { userID = item.Id }) class="searchresult">@item.UserName</a>
                }
            </div>
            <div>
                @foreach (var item in Model.groups)
                {
                    <a href="@Url.Action("GroupView", "Group", new { id = item.ID})">
                            <img src="@Url.Content(item.picture)" alt="picture" class="mygroupspicturesearch" />
                        </a>
                    <a href=@Url.Action("GroupView", "Group", new { id = item.ID }) class="searchresult">@item.name</a>
                }
            </div>
        </div>
        <div class="navright">
        </div>
    </div>
</body>
