@{
    ViewBag.Title = "Front Page";
}

<!DOCTYPE html>
<html>
<head><title>Feedit</title>
    </head>
<div class="wholepage">
    <div class="bodydiv">
        <body>
            <h2>News Feed</h2>
            <div>  
                <form action="upload-script-url" method="post" enctype="multipart/form-data">
                <input type="file" name="file">
                    <textarea rows="5" cols="20" placeholder="Description/recipe">
                    </textarea>
                <input type="submit" name="Submit"/>
                </form>
            </div>
            <div class="posts">
              
            </div>
        </body>

    </div>

</div>
</html>