@model FeedIt.Models.FeedLists
@{
    ViewBag.Title = "Front Page";
}

<!DOCTYPE html>
<html>
<head>
    <title>Feedit</title>
</head>
<body>
            <div class="text-center">
                <div class="bodydiv">
                    <h2>News Feed</h2>
                    <div class="createpostforms">
                        @using (Html.BeginForm("createPost", "Home", FormMethod.Post, new { id = "makePostForm" }))
                        {
                            <div>
                                <label>Insert photo URL</label>
                                <input class="feedtextarea" type="text" name="picture" id="picture" />
                                <div class="margintop">
                                    <textarea rows="7" cols="65" placeholder="Description/recipe" name="description" id="description" class="feedtextarea"></textarea>
                                </div>
                                <div>
                                    <input type="submit" class="postbutton" value="Feed it" />
                                </div>
                            </div>
                        }
                    </div>
                </div>
                <div class="wrapper">
                    <span class="feedbuttons">
                        <button id="friendsfeedbutton">Friends</button>
                        <button id="allfeedbutton">All</button>
                        <button id="groupfeedbutton">Groups</button>
                    </span>
                </div>
                    <div class="posts" id="friendfeed">
                        <p>
                            Feed from friends
                        </p>
                        @Html.Partial("UserFeed", Model.userFeed)
                    </div>
                    <div class="posts hidden" id="groupfeed">
                        <p>
                            Feed from groups
                        </p>
                        @Html.Partial("GroupFeed", Model.groupsFeed)
                    </div>
                    <div class="posts hidden" id="allfeed">
                        <p>
                            Feed from friends and groups
                        </p>
                        @Html.Partial("UserFeed", Model.allFeed)
                    </div>
                </div>

</body>
</html>