@{
    ViewBag.Title = "Front Page";
}

<!DOCTYPE html>
<html>
<head><title>Feedit</title>
    </head>
<div class="wholepage">
    <div class="bodydiv">
        <body>
            <div>
                <fieldset>
                <input type="text" name="Photo url" id="Photo" placeholder="Insert photo url" />
                <form action="upload-script-url" method="post" enctype="multipart/form-data">
                <input type="file" name="file">
                    <textarea rows="5" cols="20" placeholder="Description/recipe">
                    </textarea>
                <input type="submit" name="Submit"/>
                </fieldset>
                </form>
            </div>
        </body>

    </div>

</div>
</html>