@model List<FeedIt.Models.Post>
@{
    ViewBag.Title = "Front Page";
}

<!DOCTYPE html>
<html>
<head><title>Feedit</title>
    </head>
<div class="wholepage">
    <div class="bodydiv">
        <body>
            <h2>News Feed</h2>
            <div>  
                @using (Html.BeginForm("createPost", "Post", FormMethod.Post, new {  id = "postform"}))
                {
                    <input type="text" name="picture" id="picture"/>
                    <input type="text" placeholder="Description/recipe" name="description" id="description"/>
                    <input type="submit" class="createpost" value="Post" />
                }
            </div>
            <div class="posts">
              @Html.Partial("UserFeed")
            </div>
        </body>

    </div>

</div>
</html>