@model FeedIt.Models.FeedLists
@{
    ViewBag.Title = "Front Page";
}

<!DOCTYPE html>
<html>
<head><title>Feedit</title>
    </head>
<div class="wholepage">
    <div class="bodydiv">
        <body>
            <h2>News Feed</h2>
            <div>  
                @using (Html.BeginForm("createPost", "Home", FormMethod.Post, new {  id = "postform"}))
                {
                    <input type="text" name="picture" id="picture"/>
                    <textarea rows="7" cols="10" placeholder="Description/recipe" name="description" id="description"></textarea>
                    <input type="submit" class="createpost" value="Post" />
                }
                
            </div>
            <div class="posts">
                <p>
                    Feed from friends
                </p>
                @Html.Partial("UserFeed",Model.userFeed)
            </div>
            <div class="posts">
                <p>
                    Feed from groups
                </p>
                @Html.Partial("UserFeed",Model.groupsFeed)
            </div>
            <div class="posts">
                <p>
                    Feed from friends and groups
                </p>
                @Html.Partial("UserFeed",Model.allFeed)
            </div>
        </body>

    </div>

</div>
</html>